body {
    background-color: #2F4F4F;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    background-color: #696969;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #F0FFF0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #F0FFF0;
}
a {
    text-decoration: none;
    color: #F0FFF0;
}
a:hover {
    text-decoration: underline;
}
h1 {
    border-top: 1px solid;
    border-top-color: #f0fff0;
    font-size: 3em;
    color: #F0FFF0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #F0FFF0;
}
footer {
    border-top: 1px solid;
    border-top-color: #f0fff0;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
