body {
    background-color: #e6e6fa;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    background-color: thistle;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #D4D4F5;
}
nav ul li, footer ul li {
    text-align: center;
    display: inline;
    margin-right: 20px;
    color: #000000;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
h {
    text-align: left;
    font-size: 15px
    color: #000000;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    text-align: left;
    font-size: 5px
    line-height: 2px
    color: #000000;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
